<header class="header{{#each header.modifiers}}-{{.}}{{/each}}">
    <div class="header_wrapper">
        <div class="header_logo">
            <a href="{{assets}}" alt="Edmund Reed's Homepage">
                <span class="header_logo_forename">Edmund</span>
                <span class="header_logo_surname">Reed</span> 
            </a>
        </div>

        <ul class="header_social-links">
            <li class="header_social-links_item twitter">
                <div class="tooltip-bottom" data-tooltip="Twitter">
                    <a 
                        target="blank" 
                        title="Twitter" 
                        href="https://twitter.com/ESR360" 
                        class="header_social-links_link"
                    >
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
            </li>
            <li class="header_social-links_item github">
                <div class="tooltip-bottom" data-tooltip="Github">
                    <a 
                        target="blank" 
                        title="Github" 
                        href="https://github.com/esr360" 
                        class="header_social-links_link"
                    >
                        <i class="fa fa-github-alt"></i>
                    </a>
                </div>
            </li>
            <li class="header_social-links_item medium">
                <div class="tooltip-bottom" data-tooltip="Medium">
                    <a 
                        target="blank" 
                        title="Medium" 
                        href="https://medium.com/@ESR360" 
                        class="header_social-links_link"
                    >
                        <i class="fa fa-medium"></i>
                    </a>
                </div>
            </li>
            <li class="header_social-links_item dribbble">
                <div class="tooltip-bottom" data-tooltip="Dribbble">
                    <a 
                        target="blank" 
                        title="Dribbble" 
                        href="https://dribbble.com/esr360" 
                        class="header_social-links_link"
                    >
                        <i class="fa fa-dribbble"></i>
                    </a>
                </div>
            </li>
            <li class="header_social-links_item linkedin">
                <div class="tooltip-bottom" data-tooltip="LinkedIn">
                    <a 
                        target="blank" 
                        title="LinkedIn" 
                        href="https://www.linkedin.com/in/esr360/" 
                        class="header_social-links_link"
                    >
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</header>