<header class="header{{#each header.modifiers}}-{{.}}{{/each}}">
    <div class="header_wrapper">
        <div class="header_logo">
            <a href="{{assets}}" alt="Edmund Reed's Homepage">
                <span class="header_logo_primary">Edmund</span>
                <span class="header_logo_secondary">Reed</span> 
            </a>
        </div>

        <ul class="header_social-links">
            <li>
                <a target="blank" href="https://twitter.com/ESR360" class="header_social-links_item">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a target="blank" href="https://github.com/esr360" class="header_social-links_item">
                    <i class="fa fa-github"></i>
                </a>
            </li>
            <li>
                <a target="blank" href="https://codepen.io/esr360/" class="header_social-links_item">
                    <i class="fa fa-codepen"></i>
                </a>
            </li>
            <li>
                <a target="blank" href="https://www.linkedin.com/in/esr360/" class="header_social-links_item">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
        </ul>
    </div>
</header>