---
layout: core.hbs
bodyClass: <%=theme%>
header:
    modifiers:
    - sticky
---

{{> header}}

<section class="i8_background">
    <div class="i8_foreground"></div>
</section>

<section class="i8_intro">
    <div class="container">
        <div class="span-6">
            <h3 class="heading-size-10 i8_intro_heading">Web Experience Engineer</h3>
            <p class="i8_intro_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius consequat diam. Phasellus id augue purus. Donec ullamcorper orci finibus quam lacinia, vel mattis dui feugiat. Duis aliquam dignissim fringilla.</p>

            <div class="i8_macbook">
                <a href="http://themeforest.net/item/nexus-responsive-multipurpose-html5-template/10789597" target="blank" class="i8_macbook_screen">
                    <img src="assets/images/nexus-index.png" />
                </a>
                <img class="i8_macbook_monitor" src="assets/images/desktop-screen.png" />
            </div>
        </div>
    </div>
</section>

<section class="i8_ribbon">

</section>