@import '../../modules/objects/header/header.json';
/// Header
///
/// @access public
/// @group objects
///
/// @param {map} $custom - where custom config will be passed
@mixin header($custom: custom('header')) {

    // Configuration
    $header: config($header, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        background: linear-gradient(rgba(black, 0), rgba(black, 0));
        transition: background core('transition');
        overflow: visible;
        position: absolute;
        top: 1em;
        z-index: 2;
        width: 100%;

        &:after {
            opacity: 0;
            transition: core('transition');
            content: '';
            height: 7px;
            position: absolute;
            bottom: -7px;
            width: 100%;
            background: linear-gradient(to right, 
                #f05878, #e5388a, #9e33e6, #1d76e3, #04caf5
            );
        }
        
        a {
            text-decoration: none;
        }

        //*********************************************************
        // Settings
        //*********************************************************

        // Fixed Header
        @include option('fixed') {
            position: fixed;
            z-index: 12;
            top: 0;
            width: 100%;
            margin-top: 0;
        }

        @include option('sticky') {
            @include modifier('fixed') {
                background: linear-gradient(color('greyscale', 'grey-5'), color('greyscale', 'grey-6'));
                font-size: font-size('size-2');
                top: 0;
                &:after {
                    opacity: 1;
                }
            }
        }

        //*********************************************************
        // Components
        //*********************************************************

        @include component('wrapper') {
            @include _module('container');
            display: table;
        }
        
        @include components(('logo', 'social-links')) {
            display: table-cell;
            vertical-align: middle;
        }

        @include component('logo') {
            transition: core('transition');

            @include component('forename') {
                color: color('greyscale', white);
            }
                        
            @include component('surname') {
                color: color('brand', 'brand-1');
            }
        }
        
        @include component('social-links') {
            @include _module('list', ('reset', 'inline'), false);
            text-align: right;

            @include component('item') {
                @include _module('button', (
                    'brand-1-light', 'circle', 'icon', 'border', 'size-3'
                ));

                &:hover {
                    background: transparent;
                    border-color: currentColor;
                }

                &.new {
                    border-color: color('brand', 'brand-1');
                    color: color('greyscale', white);
                    position: relative;
                    &:before {
                        content: attr(data-new-posts);
                        padding: 1px 4px 3px;
                        background: color('alert', 'error');
                        position: absolute;
                        top: -0.3em;
                        right: -0.3em;
                        font-size: 0.8em;
                        border-radius: 0.25em;
                        color: white;
                    }
                    .fa {
                        color: color('brand', 'brand-3');
                    }
                }
            }
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin header