@import '../../modules/objects/header/header.json';
/// Header
///
/// @access public
/// @group objects
///
/// @param {map} $custom - where custom config will be passed
@mixin header($custom: custom('header')) {

    // Configuration
    $header: config($header, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        overflow: visible;

        //*********************************************************
        // Settings
        //*********************************************************

        // Fixed Header
        @include option('fixed') {
            position: fixed;
            z-index: 12;
            top: 0;
            width: 100%;
            margin-top: 0;
        }

        // Sticky Header
        @include option('sticky') {
            @include get-styles(this('sticky'));
        }

        //*********************************************************
        // Components
        //*********************************************************

        @include component('wrapper') {
            @include _module('container');
            display: table;
        }
        
        @include components(('logo', 'social-links')) {
            display: table-cell;
            vertical-align: middle;
        }

        @include component('logo') {
            font-family: 'aaaiight_fatregular';
            
            @include component('primary') {
                color: white;
            }
                        
            @include component('secondary') {
                color: color('brand', 'brand-1');
            }

            a {
                text-decoration: none;
            }
        }
        
        @include component('social-links') {
            @include _module('list', ('reset', 'inline'), false);
            text-align: right;

            @include component('item') {
                @include _module('button', (
                    'brand-1-light', 'circle', 'icon', 'border', 'size-3'
                ));

                &:hover {
                    background: transparent;
                    border-color: currentColor;
                }
            }
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin header